In [1]:
import pandas as pd

In [2]:
# pre-processing avec pandas
links = pd.read_csv('links',names=["A","B"], sep=" ", dtype=str)
links.head()

         A        B
0  0001001  9304045
1  0001001  9308122
2  0001001  9309097
3  0001001  9311042
4  0001001  9401139

In [3]:
links.shape

(352807, 2)

In [4]:
def pre_processing_links():
    '''
    Pre-processing du fichiers links. 
    Retourne une liste de listes des liens.
    '''
    links = []
    with open("links","r") as f:
            for line in f:
                links.append(line[:-1].split(" "))
    return links

In [5]:
links = pre_processing_links()
df_links = pd.DataFrame({'A':[links[i][0] for i in range(len(links))], 
                         'B':[links[i][1] for i in range(len(links))]})
df_links

              A        B
0       0001001  9304045
1       0001001  9308122
2       0001001  9309097
3       0001001  9311042
4       0001001  9401139
...         ...      ...
352802  9912293  9907211
352803  9912293  9908105
352804  9912293  9908142
352805  9912293  9909081
352806  9912293  9909132

[352807 rows x 2 columns]

Résultat : Soit on trvail directement avec pandas, soit on traite le fichier avec la librairie python de base et on convertit en DataFrame par la suite.
A voir en fonction du traitement des autres fichiers.

In [8]:
type(df_links.loc[df_links.A == "0001001", 'B'])

pandas.core.series.Series